{
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended",
      "plugin:tailwindcss/recommended"
    ],
    "env": {
      "browser": true,
      "es2021": true
    },
    "root": true,
    "rules": {
      "tailwindcss/classnames-order": "warn",
      "tailwindcss/enforces-negative-arbitrary-values": "warn",
      "tailwindcss/enforces-shorthand": "warn",
      "tailwindcss/migration-from-tailwind-2": "warn",
      "tailwindcss/no-arbitrary-value": "off",
      "tailwindcss/no-custom-classname": "warn",
      "tailwindcss/no-contradicting-classname": "error"
    },
    "parserOptions": {
      "ecmaVersion": 2021,
      "sourceType": "module"
    },
    "plugins": ["tailwindcss"]
  }